.Main {
  /* background-image: url('../assets/it-me.jpg'); */
  /* height: 100vh; */
}

.Main__header {
  color: white;
  font-size: 60px;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
